body{
    margin: 0;
    background-color: lightblue;
    text-align: center;
    padding-bottom: 10%;
}

.main{
    margin-top: 50px;
    font-size: 1.4em;
    font-family: Georgia, sans-serif;
}

.main h1{
    font-family: "Arial Black", sans-serif;
    font-size: 2.5em;
}