table{
    width: 100%;
}

body{
    margin: 0;
    background-color: lightblue;
}

th{
    font-family: Candara, sans-serif;
    font-size: 1.1em;
}

.periodicals{
    padding-top: 25px;
    margin-right: 13%;
    margin-left: 13%;
    width: auto;
}