body{
    margin: 0;
    background-color: lightblue;
    padding-bottom: 10%;
    text-align: center;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 25px;
}

.orders{
    margin-top: 40px;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    width: auto;
}

th, td, tr{
    font-family: Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.find-div button{
    padding: 5px 10px 5px 10px;
    font-family: Arial, sans-serif;
    font-style: inherit;
    font-size: 1.1em;
    width: 10%;
    margin: 0 15px 0 15px;
}

td{
    padding: 12px;
    word-wrap: break-word;
    background-color: lightsteelblue;
}

th{
    background-color: #808fbd;
    color: aliceblue;
    padding: 8px;
}

.orders table tr td:first-child{
    font-weight: bold;
}

.find-div button{
    padding: 5px 10px 5px 10px;
    font-family: Arial, sans-serif;
    font-style: inherit;
    font-size: 0.9em;
    width: 10%;
    margin: 0 15px 0 15px;
}

.find-div form{
    margin: 0;
}